<!DOCTYPE html>
<html>
<head>
	<title>My Web App</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<h1>My Data</h1>
	<a href="http://127.0.0.1:5000/"><button style="width: 10%;
		padding: 2px 5px;
		margin: 2px 0;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;">Go to Home Page</button></a>
    <form action="/process" method="post">
		<label for="mytextbox">Enter some text:</label>
		<input type="text" id="mytextbox" name="mytextbox" style="width: 50%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;">
		<input type="submit" value="Submit" style="width: 10%;
		padding: 2px 5px;
		margin: 2px 0;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;">
	  </form>
	  
	  <div style="color: rgb(5, 5, 21); font-size: 16px;margin: 2px 0;">
		{{ data|safe }}
	  </div>
</body>
</html>
